body {
    margin: 0px auto;
    width: 100%;
    position: relative;
    max-height: 100vh;
    overflow: auto;
    font-family: 'Roboto', sans-serif;
    background-image: url(https://phonoteka.org/uploads/posts/2022-01/thumbs/1643147621_2-phonoteka-org-p-chernii-fon-dlya-saita-2.png);
}

/*              НАВБАР                          */

.navbar {
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: #bd0000;
}

.navbar__container {
    display: flex;
    width: 100%;
    max-width: 1400px;
    margin: 0px auto;
    height: 65px;
    justify-content: space-around;
    align-items: center;
}

.navbar__burger {
    display: none;
}

.menu__account {
    display: none;
    color: #ffffff;
}

.navbar__logo {
    width: 56px;
    border-radius: 5px;
    cursor: pointer;
}

.menu__top {
    display: none;
}

.navbar__logo_link {
    display: none;
}

.navbar__logo_mobile {
    display: none;
}

.menu__cross {
    display: none;
}

.navbar__account {
    font-size: 25px;
    cursor: pointer;
    margin-left: -190px;
    color: #ffffff;
}

.navbar__menu {
    width: 580px;
}

.menu__modal {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.menu__cross:hover {
    cursor: pointer;
    background-color: rgba(15, 20, 25, 0.1);
}

.page_link {
    text-decoration: none;
    color: #ffffff;
    transition: 0.2s;
}

.page_link:hover {
    color: #c4c0c0;
    text-decoration: underline;
    cursor: pointer;
}

.language {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-right: 5px;
    color: #ffffff;
}

.change_language {
    display: flex;
    width: 86px;
    height: 30px;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: transparent;
    transition: 0.2s;
}

.change_language:hover {
    margin-top: -5px;
    cursor: pointer;
    box-shadow: 0px 5px 8px #000000;
}

.change_language:active {
    margin-top: 0px;
    cursor: pointer;
    box-shadow: none;
}

.language__modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
}

.change_language__modal {
    position: absolute;
    right: 103px;
    top: 52px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    border: 1px solid black;
    background-color: black;
}

.language__option {
    display: flex;
    width: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 5px 8px;
    transition: 0.2s;
}

.language__option:hover {
    background-color: #00000F;
}

.flag {
    width: 22px;
    height: 13px;
}

.arrow_down {
    width: 24px;
    height: 24px;
}


/*                        ГЛАВНАЯ СТРАНИЦА                               */


.main__page {
    width: 100%;
    padding-top: 85px;
    background-image: url(https://phonoteka.org/uploads/posts/2022-01/thumbs/1643147621_2-phonoteka-org-p-chernii-fon-dlya-saita-2.png);
}

.main__container {
    display: flex;
    max-width: 1400px;
    margin: 0px auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main__block {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
}

.main__block span {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    width: 95%;
    border-radius: 9999px;
    bottom: 210px;
    z-index: 100;
    font-size: 22px;
    color: #FFFFFF;
    background-color: #00000F;
}

.main__img_block {
    display: flex;
    width: 100%;
    height: 90%;
    position: relative;
    justify-content: center;
}

.main__img_block img:first-child {
    width: 340px;
    height: 450px;
    position: absolute;
    left: 80px;
    top: -40px;
}

.main__img_block img:last-child {
    width: 309px;
    height: 375px;
    position: absolute;
    right: 115px;
    top: 12px;
}

.main__name_block {
    display: flex;
    width: 42%;
    height: 30%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.main__name_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 65%;
}

.main__name {
    display: flex;
    justify-content: center;
    font-size: 38px;
    font-weight: 700;
    color: #FFFFFF;
}

.main__description {
    font-size: 18px;
    color: #536471;
}

.main__button {
    width: 30%;
    height: 20%;
    border: none;
    border-radius: 9999px;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #bd0000;
    transition: 0.2s;
}

.main__button:hover {
    cursor: pointer;
    background: #bd000F;
}

.main__plan {
    display: flex;
    width: 100%;
    height: 25%;
    margin-top: -170px;
    justify-content: space-evenly;
}

.main__step {
    display: flex;
    width: 25%;
    height: 100%;
    padding: 15px;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    background-color: #00000F;
    z-index: 100;
    transition: 0.2s;
}

.main__step:hover {
    cursor: pointer;
    margin-top: -3px;
}

.main__step:hover .step_next__block {
    padding: 0px 0px 12px 270px;
}

.step__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 37%;
}

.step__img {
    display: flex;
    height: 20%;
    align-items: center;
    justify-content: space-around;
}

.step__name {
    font-size: 20px;
    color: #FFFFFF;
}

.step__description {
    font-size: 15px;
    color: #bbb;
}

.step_next__block {
    padding: 0px 20px 12px;
    transition: 0.2s;
}

/*                      НАВИГАЦИЯ ПО ИГРАМ                */


.news__menu-games {
    width: 870px;
    height: 78px;
    display: flex;
    padding-left: 60px;
    flex-wrap: wrap;
    position: relative;
    background-color: #bd0000;
}

.news__menu-games::after {
    display: block;
    content: '';
    width: 40px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%);
    background: linear-gradient(to bottom right, #bd0000 50%, transparent 52%);
}

.news__logo-games {
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0.4px;
    font-weight: 400;
    margin-left: 60px;
}

.news__span-games {
    height: 1px;
    width: 780px;
    margin-top: 3px;
    background-color: #ffffff;
}

.news__games {
    display: flex;
    height: 40px;
    width: 650px;
    margin: 8px 45px;
    justify-content: space-between;
}

.news__game {
    display: flex;
    height: 40px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    transition: 0.2s;
}

.news__game:hover {
    margin-top: -3px;
    box-shadow: 0px 5px 10px black;
    cursor: pointer;
}

.news__game:active {
    margin-top: 0px;
    box-shadow: none;
}

.news__game-name {
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    margin: auto 5px auto 5px;
}

.news__game-icon {
    margin-left: 3px;
}

.dota-2-icon {
    width: 30px;
    height: 25px;
}

.cs-go-icon {
    width: 55px;
}

.pubg-icon {
    width: 45px;
}

.lol-icon {
    width: 60px;
}

.news__arrow_down {
    width: 18px;
    margin: auto 8px auto -5px;
}

/*                   НАВИГАЦИЯ ПО ТУРНИРАМ               */

.tournaments {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 480px;
    margin-right: 20px;
    border-radius: 4px;
    border: 1px solid transparent;
    opacity: 0.9;
    box-shadow: 0px 0px 20px #000000;
    background: #000009;
    transition: 0.2s;
}

.tournaments:hover {
    border: 1px solid #bd0000;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 16px;
    height: 44px;
}

.searchImg {
    fill: rgb(83, 100, 113);
    width: 20px;
}

.searchInput {
    border: none;
    background: transparent;
    margin-left: 14px;
    outline: none;

    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #5B7083;
}

.news__span-tournaments {
    height: 1px;
    width: 280px;
    margin: auto;
    background-color: #5B7083;
}

.tournaments__logo {
    height: 24px;
    display: flex;
    align-items: center;
    padding: 10px 16px 5px;

    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 0.8px;
    color: #ffffff;
}

.tournaments__lists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    outline-style: none;
}

.tournament__post {
    display: flex;
    justify-content: flex-start;
    padding: 15px 16px;
    transition: 0.2s;
}

.tournament__post:hover {
    background-color: #00000F;
    cursor: pointer;
}

.tournament_description {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.tournament_name {
    margin-bottom: 2px;
    font-size: 15px;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.tournament_time {
    font-size: 13px;
    color: #5B708F;
}

.tournament__show_all {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 20px;
    height: 28px;
    outline-style: none;
    border-radius: 0px 0px 20px 20px;
    transition-duration: 0.2s;
}

.tournament__show_all:hover {
    background-color: #00000F;
    cursor: pointer;
}

.tournament__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    font-weight: 500;
    color: #FFFFFF;
}

.tournament__logo div {
    font-size: 45px;
}

.tournament__logo a {
    font-size: 20px;
    text-decoration: none;
    transition: 0.2s;
    color: #FFFFFF;
}

.tournament__logo a:hover {
    cursor: pointer;
    color: #c4c0c0;
}

.main__tournaments {
    display: flex;
    width: 100%;
    margin-top: 45px;
    justify-content: space-evenly;
}

.main__tournament {
    display: flex;
    width: 25%;
    height: 380px;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 15px;
    transition: 0.2s;
    background-color: #00000F;
}

.main__tournament:hover {
    cursor: pointer;
    margin-top: -3px;
}

.main__tournaments_top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 58%;
}

.main__tournaments_name {
    font-size: 20px;
    color: #FFFFFF;
}

.main__tournaments_description {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}

.main__tournaments_calendar_block {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-between;
}

.main__tournaments_reward_block {
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: space-between;
}

.main__tournaments_text {
    color: #536471;
}

.main__tournaments_button {
    width: 80%;
    height: 8%;
    margin: 0px auto;
    border: none;
    border-radius: 9999px;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #bd0000;
    transition: 0.2s;
}

.main__tournaments_button:hover {
    cursor: pointer;
    background: #bd000F;
}

/*                            ПОСТЫ                             */

.news__posts {
    display: flex;
    flex-direction: column;
    width: 70%;
    opacity: 0.9;
    border-radius: 15px;
    margin: 30px auto;
    padding: 10px 0px;
    box-shadow: 0px 0px 20px #000000;
    background-color: #000009;
}

.posts__navbar {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-left: 100px;
}

.posts__navigation {
    font-size: 15px;
    padding: 10px 12px;
    transition: 0.2;
    color: #FFFFFF;
}

.posts__navigation:hover {
    color: #c4c0c0;
    cursor: pointer;
}

.news__span-news {
    height: 1px;
    width: 800px;
    margin: 0px auto;
    background-color: #ffffff;
}

.post {
    width: 90%;
    margin: 15px auto auto auto;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, .2);
    border: 1px solid transparent;
    border-radius: 15px;
    transition: 0.2s;
    background-color: #00000f;
}

.post:hover {
    cursor: pointer;
    border: 1px solid #bd0000;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
}

.post__separation {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.post__main {
    height: 100%;
    width: 95%;
}

.post__name {
    font-size: 18px;
    font-weight: 400;
    margin: auto auto 10px 5px;
    width: 97%;
    color: #FFFFFF;
}

.dota__img {
    width: 97%;
}

.post__info {
    display: flex;
    width: 730px;
    justify-content: space-between;
    margin: 5px 0px 12px;
}

.post__time {
    font-size: 12px;
    color: rgb(83, 100, 113);
}

.post__comment-icon {
    width: 15px;
    fill: rgb(83, 100, 113);
}

.post__comments {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 32px;
}

.teams__modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
}

.teams__lists {
    position: absolute;
    right: 466px;
    top: 52px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    border: 1px solid black;
    background-color: black;
}

.team__option {
    padding: 8px 16px;
    color: #ffffff;
    transition: 0.2s;
}

.team__option:hover {
    background-color: #00000F;
}

/*                       ФУТЕР                                  */

.footer {
    width: 100%;
    box-shadow: -10px 0px 15px #000;
    background-color: #000;
}

.footer__container {
    display: flex;
    width: 100%;
    height: 100px;
    max-width: 1400px;
    margin: 0px auto;
    justify-content: space-around;
    align-items: center;
}

.footer__left {
    display: flex;
    width: 300px;
    height: 60px;
    flex-direction: column;
    justify-content: space-between;
}

.footer__text {
    font-size: 14px;
    color: rgb(83, 100, 113);
    transition: 0.2s;
}

.footer__link {
    width: 40px;
}

.footer__link:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #5B708F;
}

.footer__right {
    display: flex;
    width: 250px;
    height: 30px;
    align-items: center;
    justify-content: space-between;
}

.footer__icon {
    font-size: 2em;
    color: #536471;
}

.footer__icon:hover {
    cursor: pointer;
    color: #5B708F;
}

/*                        РЕГИСТРАЦИЯ                              */

.registration__modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    transform: scale(1);
    display: none;
    justify-content: center;
    z-index: 1000;
    position: fixed;
    top: 0%;
    left: 0%;
}

.reg__content {
    border-radius: 16px;
    padding: 10px 20px;
    margin: 70px auto auto;
    width: 550px;
    height: 500px;
    box-shadow: #000 0 30px 60px;
    background-color: #000009;
}

.cross {
    width: 30px;
    padding: 10px;
    border-radius: 9999px;
    transition: 0.2s;
    fill: #FFFFFF;
}

.cross:hover {
    cursor: pointer;
    background-color: #000029;
}

.reg__name {
    display: flex;
    justify-content: space-between;
    width: 520px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin: 15px 30px 10px 25px;
    color: #FFFFFF;
}

.input {
    width: 480px;
    height: 50px;
    background-color: #00000F;
    border: 1px solid #000009;
    border-radius: 5px;
    box-shadow: -1px 0 8px -5px #000;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    color: #536471;
    margin: 8px 30px 16px;
    padding-left: 12px;
    transition: 0.2s;
}

.input:hover {
    cursor: pointer;
    background-color: #000029;
    border: 1px solid #000009;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset, 0 0 8px rgba(82, 168, 236, 0.6);
}

.reg__email_example {
    margin-left: 30px;
    font-size: 15px;
    color: #FFFFFF;
}

.reg__change_info {
    width: 150px;
    margin-left: 30px;
    font-size: 15px;
    transition: 0.1s;
    color: #FFFFFF;
}

.reg__change_info:hover {
    text-decoration: underline;
    cursor: pointer;
    color: rgb(83, 100, 113);
}

.birth__logo {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin: 20px 30px 5px;
    color: #FFFFFF;
}

.birth__block {
    display: flex;
    margin-left: 30px;
}

.birth__select {
    display: flex;
    justify-content: center;
    width: 55px;
    height: 30px;
    padding-left: 10px;
    font-size: 18px;
    font-weight: 400;
    margin-top: 5px;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #00000F;
    box-shadow: -1px 0 8px -5px #000;
    border: 1px solid #000009;
    transition: 0.2s;
}

.birth__select:hover {
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    background-color: #000029;
}

.birth__text {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
    opacity: 0.6;
    margin: 0px 0px 30px 30px;
}

.reg__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
}

.reg__ready_button {
    width: 180px;
    height: 40px;
    margin-right: 25px;
    background: #bd0000;
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
    border: none;
    color: #ffffff;
    transition: 0.2s;
}

.reg__ready_button:hover {
    cursor: pointer;
    background: #bd000F;
}

.login__modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    display: none;
    justify-content: center;
    z-index: 1000;
    position: fixed;
    top: 0%;
    left: 0%;
}

.login__content {
    border-radius: 16px;
    padding: 10px 20px;
    margin: 120px auto auto;
    width: 550px;
    height: 340px;
    box-shadow: #000 0 30px 60px;
    background-color: #000009;
}

.login__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.reg_login__modal {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    z-index: 1000;
    position: fixed;
    top: 0%;
    left: 0%;
}

.reg_login__lists {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 82px;
    top: 62px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    border: 1px solid black;
    background-color: black;
}

/*                        СТРАНИЦА НОВОСТЕЙ                          */

.container {
    display: flex;
    width: 100%;
    max-width: 1400px;
    margin: 0px auto;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.news__games_tournaments {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.news__games_slider {
    display: flex;
    height: 500px;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
}

.news__block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1260px;
}

.news__logo_name {
    font-size: 26px;
    font-weight: 700;
    color: #FFFFFF;
}

.category__block {
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
}

.category__name {
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
}

.news__news {
    display: flex;
    height: 1300px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.news__post {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
    width: 600px;
    height: 370px;
    padding: 20px 20px 20px 0px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, .2);
    border-radius: 10px;
    transition: 0.2s;
    background-color: #00000f;
}

.news__post:hover {
    margin-top: -5px;
    cursor: pointer;
    box-shadow: 0px 0px 15px #000000;
}

.news__left {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
}

.news__right {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.news__name {
    color: #FFFFFF;
}

.news__img {
    width: 510px;
}

.news__description {
    width: 510px;
    font-size: 13px;
    color: #FFFFFF;
}

.news__info {
    display: flex;
    justify-content: space-between;
}

.news__spectators {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35px;
}

.news__pages {
    display: flex;
    width: 100px;
    height: 30px;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    border-radius: 15px;
    margin-bottom: 15px;
    background-color: #00000f;
    box-shadow: 0px 0px 10px #000000;
}

.news__page {
    font-size: 12px;
    color: #FFFFFF;
}

.news__page:hover {
    color: #c4c0c0;
    text-decoration: underline;
}

.page__number {
    font-size: 15px;
}

.page__number:first-child {
    color: rgb(189, 0, 0)
}

.category__modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
}

.category__lists {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    border: 1px solid black;
    background-color: black;
}

.scroll_up {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 11px;
    border-radius: 9999px;
    text-decoration: none;
    background-color: #000000;
}

/*                          СЛАЙДЕР                                  */

.new-news__logo {
    font-size: 35px;
    margin: 25px auto;
    color: #FFFFFF;
}

#slider {
    /*положение слайдера*/
    position: relative;
    text-align: center;
    top: 10px;
}

#slider {
    /*центровка слайдера*/
    margin: 0 auto;
}

#slides {
    width: 700px;
}

#slides article {
    /*все изображения справа друг от доруга*/
    width: 20%;
    float: left;
}

#slides .image {
    /*устанавливает общий размер блока с изображениями*/
    width: 500%;
    line-height: 0;
}

#overflow {
    /*сркывает все, что находится за пределами этого блока*/
    width: 100%;
    overflow: hidden;
}

article img {
    /*размер изображений слайдера*/
    width: 100%;
    height: 380px;
}

#desktop:checked~#slider {
    /*размер всего слайдера*/
    max-width: 700px;
    /*максимальнная длинна*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*настройка переключения и положения для левой стрелки*/
/*если свич 1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch1:checked~#controls label:nth-child(5),
#switch2:checked~#controls label:nth-child(1),
#switch3:checked~#controls label:nth-child(2),
#switch4:checked~#controls label:nth-child(3),
#switch5:checked~#controls label:nth-child(4) {
    background: url('images/prev.png') no-repeat;
    /*заливка фона картинкой без повторений*/
    float: left;
    margin: 0 0 0 -84px;
    /*сдвиг влево*/
    display: block;
    height: 68px;
    width: 68px;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked~#controls label:nth-child(2),
#switch2:checked~#controls label:nth-child(3),
#switch3:checked~#controls label:nth-child(4),
#switch4:checked~#controls label:nth-child(5),
#switch5:checked~#controls label:nth-child(1) {
    background: url('images/next.png') no-repeat;
    /*заливка фона картинкой без повторений*/
    float: right;
    margin: 0 -84px 0 0;
    /*сдвиг вправо*/
    display: block;
    height: 68px;
    width: 68px;
}

label,
a {
    /*при наведении на стрелки или переключатели - курсор изменится*/
    cursor: pointer;
}

.all input {
    /*скрывает стандартные инпуты (чекбоксы) на странице*/
    display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked~#slides .image {
    margin-left: 0;
}

#switch2:checked~#slides .image {
    margin-left: -100%;
}

#switch3:checked~#slides .image {
    margin-left: -200%;
}

#switch4:checked~#slides .image {
    margin-left: -300%;
}

#switch5:checked~#slides .image {
    margin-left: -400%;
}

#controls {
    /*положение блока всех управляющих элементов*/
    margin: -25% 0 0 0;
    width: 100%;
    height: 50px;
}

#active label {
    /*стиль отдельного переключателя*/
    border-radius: 10px;
    /*скругление углов*/
    display: inline-block;
    /*расположение в строку*/
    width: 15px;
    height: 15px;
    background: #bbb;
    transition: 0.1s;
}

#active {
    /*расположение блока с переключателями*/
    margin: 20% 0 0;
    text-align: center;
}

#active label:hover {
    /*поведение чекбокса при наведении*/
    background: #f58e8e;
    border-color: #777 !important;
    /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked~#active label:nth-child(1),
#switch2:checked~#active label:nth-child(2),
#switch3:checked~#active label:nth-child(3),
#switch4:checked~#active label:nth-child(4),
#switch5:checked~#active label:nth-child(5) {
    background: #bd0000;
    border-color: #bd0000 !important;
}

#slides .image {
    /*анимация пролистывания изображений*/
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover {
    /*прозрачность стрелок при наведении*/
    opacity: 0.6;
}

#controls label {
    /*прозрачность стрелок при отводе курсора*/
    transition: opacity 0.2s ease-out;
}

/*                        МЕДИА ЗАПРОСЫ                        */

@media (max-width:420px) {
    .navbar {
        height: 30px;
    }

    .navbar__container {
        height: 100%;
        margin: 0px;
        max-width: 100%;
    }

    .navbar__logo {
        display: none;
    }

    .navbar__logo_link {
        display: block;
    }

    .navbar__logo_mobile {
        display: block;
        width: 25px;
        border-radius: 5px;
        cursor: pointer;
    }

    .navbar__account {
        font-size: 15px;
        margin-left: -60px;
    }

    .navbar__menu {
        display: none;
        width: 100%;
        height: 100%;
        z-index: 1000;
        position: fixed;
        top: 0%;
        left: 0%;
        background-color: rgba(0, 0, 0, 0.55);
    }

    .menu__modal {
        display: flex;
        position: absolute;
        flex-direction: column;
        justify-content: flex-start;
        width: 50%;
        height: 100%;
        background-color: black;
        top: 0%;
        left: 0%;
        border-bottom-right-radius: 5px;
        box-shadow: 0px 0px 5px #000;
    }

    .menu__top {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        width: 100%;
        height: 24px;
    }

    .menu__account {
        display: block;
        font-size: 15px;
    }

    .menu__cross {
        display: block;
        width: 20px;
        height: 20px;
        fill: #ffffff;
        transition: 0.2s;
    }

    .page_link {
        padding: 15px 20px;
        transition: 0.2s;
    }

    .page_link:hover {
        background-color: rgba(0, 0, 0, 0.06);
    }

    .teams__lists {
        right: 80px;
        top: 125px;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 23px;
        height: 16px;
        cursor: pointer;
    }

    .header__burger::after {
        content: "";
        background-color: #FFFFFF;
        box-shadow: 0px 0px 2px #000;
        position: absolute;
        width: 100%;
        height: 2px;
        margin: 0px 5px;
        left: 0;
        bottom: 0;
        border-radius: 3px;
    }

    .header__burger::before {
        content: "";
        background-color: #FFFFFF;
        box-shadow: 0px 0px 2px #000;
        position: absolute;
        width: 100%;
        height: 2px;
        margin: 0px 5px;
        left: 0;
        top: 0;
        border-radius: 3px;
    }

    .header__burger span {
        background-color: #FFFFFF;
        box-shadow: 0px 0px 2px #000;
        position: absolute;
        width: 100%;
        height: 2px;
        margin: 0px 5px;
        left: 0;
        top: 7px;
        border-radius: 3px;
    }

    .change_language {
        width: 75px;
        height: 20px;
    }

    .change_language__modal {
        right: 37px;
        top: 30px;
    }

    .language {
        font-size: 12px;
    }

    .language__option {
        width: 59px;
    }

    .flag {
        width: 20px;
        height: 12px;
    }

    .main__page {
        padding-top: 55px;
    }

    .main__name {
        font-size: 24px;
        font-weight: 500;
    }

    .main__description {
        font-size: 15px;
    }

    .main__name_text {
        height: 60%;
    }

    .main__block {
        height: 750px;
    }

    .main__block span {
        display: none;
    }

    .main__block img {
        display: none;
    }

    .step_next__block {
        padding: 0px;
    }

    .main__step:hover .step_next__block {
        padding: 0px 0px 0px 270px !important;
    }

    .main__step:hover {
        margin-top: 0px;
    }

    .main__name_block {
        width: 90%;
        height: 42%;
        margin-top: 0px;
    }

    .main__button {
        width: 40%;
        height: 25%;
    }

    .main__plan {
        flex-direction: column;
        align-items: center;
        height: 150%;
    }

    .main__step {
        width: 80%;
        height: 25%;
    }

    .tournament__logo div {
        font-size: 25px;
    }

    .tournament__logo a {
        font-size: 12px;
    }

    .main__tournaments {
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
    }

    .main__tournament {
        width: 80%;
        height: 340px;
        margin-top: 10px;
    }

    .main__tournaments_top {
        height: 60%;
    }

    .main__tournaments_description {
        font-size: 15px;
    }

    .main__tournaments_reward_block {
        width: 16%;
    }

    .new-news__logo {
        width: 80%;
        font-size: 25px;
    }

    #slides {
        width: 300px;
    }

    article img {
        height: 180px;
    }

    /*настройка переключения и положения для левой стрелки*/
    /*если свич 1-5 активны, то идет обращение к лейблу из блока с id контролс*/
    #switch1:checked~#controls label:nth-child(5),
    #switch2:checked~#controls label:nth-child(1),
    #switch3:checked~#controls label:nth-child(2),
    #switch4:checked~#controls label:nth-child(3),
    #switch5:checked~#controls label:nth-child(4) {
        margin: -40px 0 0 -45px;
    }

    /*настройка переключения и положения для правой стрелки*/
    #switch1:checked~#controls label:nth-child(2),
    #switch2:checked~#controls label:nth-child(3),
    #switch3:checked~#controls label:nth-child(4),
    #switch4:checked~#controls label:nth-child(5),
    #switch5:checked~#controls label:nth-child(1) {
        margin: -40px -45px 0 0;
    }

    #desktop:checked~#slider {
        height: 220px;
    }

    .news {
        height: 950px;
    }

    .news__menu_news {
        align-items: flex-start;
    }

    .news__menu-games {
        width: 55%;
        height: 32px;
        margin: 40px 0px 0px;
        padding-left: 10px;
    }

    .news__menu-games::after {
        width: 20px;
    }

    .news__logo-games {
        display: none;
    }

    .news__span-games {
        display: none;
    }

    .news__games {
        width: 180px;
        margin: 6px 0px 0px 5px;
        height: 0px;
    }

    .news__game {
        height: 22px;
        padding: 0px 5px;
    }

    .news__game-name {
        display: none;
    }

    .news__game-icon {
        margin-left: 0px;
    }

    .dota-2-icon {
        width: 15px;
        height: 12px;
    }

    .cs-go-icon {
        width: 30px;
    }

    .pubg-icon {
        width: 23px;
    }

    .lol-icon {
        width: 32px;
    }

    .news__arrow_down {
        margin: 0px;
    }

    .tournaments {
        width: 120px;
        height: 22px;
        position: absolute;
        top: 50px;
        right: -8px;
    }

    .searchImg {
        width: 12px;
    }

    .searchInput {
        font-size: 11px;
        margin-left: 4px;
        width: 70px;
    }

    .news__span-tournaments {
        display: none;
    }

    .tournaments__logo {
        display: none;
    }

    .tournaments__lists {
        display: none;
    }

    .tournament__show_all {
        display: none;
    }

    .news__posts {
        width: 80%;
    }

    .posts__navbar {
        margin-left: 20px;
        width: 80%;
    }

    .posts__navigation {
        font-size: 10px;
        padding: 5px;
    }

    .news__span-news {
        width: 90%;
    }

    .post {
        width: 95%;
        margin: 10px auto auto 8px;
    }

    .post__name {
        font-size: 11px;
        margin: 0px auto 5px 0px;
        width: 95%;
        font-weight: 400;
    }

    .dota__img {
        width: 95%;
    }

    .post__main {
        width: 100%;
    }

    .post__info {
        width: 95%;
    }

    .post__time {
        font-size: 10px;
    }

    .post__comment-icon {
        width: 12px;
    }

    .post__comments {
        width: 25px;
    }

    .reg__content {
        width: 80%;
        height: 450px;
    }

    .reg__name {
        width: 90%;
        font-size: 25px;
        margin: 5px 0px 15px 25px;
    }

    .cross {
        width: 15px;
        padding: 5px;
        border-radius: 9999px;
        transition: 0.2s;
    }

    .input {
        width: 80%;
        height: 40px;
        font-size: 15px;
        margin: 4px 22px 10px;
        padding-left: 8px;
    }

    .birth__logo {
        font-size: 14px;
        margin: 15px 22px 5px;
    }

    .reg__email_example {
        margin-left: 22px;
        font-size: 12px;
    }

    .birth__text {
        font-size: 14px;
        line-height: 19px;
    }

    .reg__change_info {
        margin-left: 22px;
        font-size: 13px;
    }

    .reg__ready_button {
        width: 40%;
        height: 30px;
        font-size: 15px;
    }

    .login__content {
        width: 80%;
        height: 275px;
    }

    .reg_login__modal {
        background-color: rgba(0, 0, 0, 0.55);
    }

    .reg_login__lists {
        top: 1%;
        left: 30%;
    }

    .reg_login__cross {
        display: block;
    }

    .footer {
        height: 60px;
    }

    .footer__container {
        height: 100%;
        justify-content: space-evenly;
    }

    .footer__left {
        width: 205px;
        height: 35px;
    }

    .footer__text {
        font-size: 8px;
    }

    .footer__right {
        width: 100px;
    }

    .footer__icon {
        font-size: 1em;
    }

    .container {
        padding-top: 10px;
    }

    .news__games_slider {
        height: 300px;
    }

    .news__games_slider .all {
        margin-left: 50px;
    }

    .news__header {
        width: 90%;
    }

    .news__logo_name {
        font-size: 15px;
        font-weight: 400;
        width: 60%;
    }

    .category__block {
        width: 28%;
    }

    .category__name {
        font-size: 13px;
    }

    .news__post {
        width: 90%;
        height: 270px;
        padding: 5px 0px;
    }

    .new__post:hover {
        margin-top: 0px;
    }

    .news__right {
        width: 90%;
    }

    .news__name {
        font-size: 13px;
    }

    .news__img {
        width: 100%;
    }

    .news__description {
        width: 100%;
        font-size: 11px;
    }

    .news__info {
        width: 100%;
    }

    .news__spectators {
        width: 32px;
    }

    .news__news {
        height: 1750px;
    }

    .scroll_up {
        right: 10px;
        bottom: 10px;
        padding: 8px 9px;
        font-size: 0.7em;
    }
}